#background {
  background-image: url(../../assets/imagens/background2.svg);
  background-attachment: inherit;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center top;

}

h3 {
  text-align: center;
  color: green;
}

h2{
text-align: center;
/* margin-top: 30px; */
}

label{
  font-weight: 600;
}

.eyeicon {  position: relative;
  cursor: pointer;
}

.eyeicon i {
  position: absolute;
  right: 10px;
  top: 10px;
}

#editar {
  margin-top: 20px;
  background-color: rgb(195, 162, 162);
  border-radius: 20px;
  padding: 20px;
}

div {
  margin-top: 0;
}

input {
  margin-bottom: 12px;
}
