body {
  height: 100%;
  margin: 0;
  background-image: url(../../assets/imagens/background2.svg);
  background-attachment: fixed;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 0px;
}

#formulario {
  position: absolute;
  margin: 0;

}

h2 {
  text-align: center;
  margin-top: 30px;
  text-shadow: white 3px -3px, white -3px 3px, white 3px 3px, white -3px -3px;
}

label {
  font-weight: 500;
  font-size: 1.35rem;
}

legend {
  font-weight: 500;
  font-size: 1.35rem;
}

h4 {
  text-align: center;
  color: green;
}

h3 {
  text-align: center;
  color: red;
}

div {
  margin-top: 0px;
  margin-bottom: 8px;
}

form {
  margin-top: 20px;
  background-color: rosybrown;
  border-radius: 20px;
  padding: 20px;
}

button {
  padding: 10px 30px;
  font-size: 17px;
}

#validacao {
  color: black;
}
