body {
  background-image: url(../../imagens/login.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 70vw;
}


.container {
  margin-top: 20vh;
  margin-left: 13vw;
  position: absolute;
  max-width: 40vw;
  position: left;
}

div.ng-invalid {
  color: red;
  font-size: smaller;
  font-style: italic;
  margin-bottom: 10px;
  font-weight: 500;
}

label {
   margin-top: 10px;
}

h2 {
   text-align: center;
}

.eyeicon{
   position: relative;
   cursor: pointer;
}

.eyeicon i{
   position: absolute;
   right: 10px;
   top: 10px;
}

a {
  margin-left: 5px;
}

input {
  margin-bottom: 5px
}

.botao {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.link {
  display: flex;
  justify-content: center;
}
