body {
  height: 100%;
  background-color: rgb(212, 184, 184);
  background-image: url(../../assets/imagens/login.svg);
  background-repeat: no-repeat;
  background-position: left top;
}

#div-principal {
  position: absolute;
  top: 130px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

form {
  background-color: rgba(255, 255, 255, 0.623);
  border-radius: 20px;
  padding: 20px;
}

div.ng-invalid {
  color: red;
  font-size: smaller;
  font-style: italic;
  margin-bottom: 10px;
  font-weight: 500;
}

.mensagem {
  font-weight: 500;
  color: red;
}

h2 {
  color: black;
  padding-bottom: 20px;
  text-align: center;
}

.eyeicon {
  position: relative;
  cursor: pointer;
}

.eyeicon i {
  position: absolute;
  right: 10px;
  top: 10px;
}

a {
  color: black;
  font-weight: 500;
  margin-left: 5px;
}

input {
  margin-bottom: 5px
}

.botao {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

button {
  font-weight: 500;
  color: white;
  background-color: rgba(165, 42, 42, 0.87)
}

button:hover {
  background-color: white;
  color: rgba(165, 42, 42, 0.87);
  border: 1px solid rgba(165, 42, 42, 0.87);
}

.link {
  display: flex;
  justify-content: center;
}

img {
  margin-top: 17%;
  width: 100%;
}
