<div class="container-fluid mt-3">

  <div class="text-center mb-3">
    <h5>Faça aqui a sua busca! Você pode pesquisar por área, estado, cidade, profissão ou até mesmo pelo nome do
      talento!</h5>
  </div>

  <form class="search d-flex justify-content-center mb-3">
    <div class="col-md-7 search-box">
      <button class="btn-search">
        <em class="material-icons align-middle" style="font-size:25px">search</em>
      </button>
      <input class="input-search" type="text" placeholder="Busca..." name="search" [(ngModel)]="filter">
    </div>
  </form>

</div>

<div class="row row-cols-lg-4 g-0">
  <div id="card" *ngFor="let talento of talentos | filter:filter">
    <div class='border-danger card col m-2'>
      <div class='card-body'>
        <!--AREA PROFISSIONAL-->
        <div class="card-header text-center">{{ talento.area }}</div>

        <!-- NOME -->
        <div class='card-title bg-danger text-center overflow-hidden'>{{ talento.nome }} {{ talento.sobrenome }}</div>

        <!--IMAGEM-->
        <img id="imagem" alt="Imagem do talento" class="card-img-top" [src]="talento.imagem">

        <!--PROFISSÃO-->
        <div class="card-text"><em class="material-icons">&#xe8f9;</em>{{ talento.profissao }}</div>

        <!--CIDADE E ESTADO-->
        <div class="card-text"><em class="material-icons">&#xe55f;</em>{{ talento.cidade }} / {{ talento.estado }}</div>

        <!--EMAIL E TELEFONE-->
        <div class="card-footer">

          <span><em class="material-icons">&#xe0b0;</em>
            {{ talento.fone }}</span>
          <br>
          <span><em class="material-icons">&#xe0be;</em>
            {{ talento.email }}</span>

          <br>
          <a [routerLink]="['/informacoes/', talento.id]">Mais informações...</a>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
