<div class="container-fluid mt-3">
  <div class="text-center mb-3">
    <h5>Faça aqui a sua busca! Você pode pesquisar por área, estado, cidade, profissão ou até mesmo pelo nome do
      talento!</h5>
  </div>
  <form class="search d-flex justify-content-center">
    <div class="col-md-7 me-2">
      <input class="form-control" type="text" placeholder="Busca..." aria-label="Search" name="search"
        [(ngModel)]="filter">
    </div>

    <button class="btn" type="submit">
      <i class="material-icons align-middle" style="font-size:24px">search</i>
    </button>
  </form>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <div id="card" *ngFor="let talento of talentos | filter:filter; let i = index">
    <div class='border-danger card col m-3'>
      <div class='card-body'>
        <!--AREA PROFISSIONAL-->
        <div class="card-header text-center">{{ talento.area }}</div>

        <!-- NOME -->
        <div class='card-title bg-danger text-center'>{{ talento.nome }} {{ talento.sobrenome }}</div>

        <!--IMAGEM-->
        <img class="card-img-top" src="../../assets/imagens/menina.jpg">

        <!--PROFISSÃO-->
        <div class="card-text"><i class="material-icons">&#xe8f9;</i>{{ talento.profissao }}</div>

        <!--CIDADE E ESTADO-->
        <div class="card-text"><i class="material-icons">&#xe55f;</i>{{ talento.cidade }} / {{ talento.estado }}</div>

        <!--EMAIL E TELEFONE-->
        <div class="card-footer">
          <i class="material-icons">&#xe0b0;</i>{{ talento.fone }}
          <br>
          <i class="material-icons">&#xe0be;</i>{{ talento.email }}
          <br>
          <a [routerLink]="['/informacoes/', talento.id]">Mais informações...</a>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
