<body id="background">
  <img class="animate_animated animate__bounceIn" id="imagem1" src="../../assets/imagens/talenthome.svg">
  <div class="container-fluid col col-lg-9 align-self-center text-center mt-5">

    <p> Está procurando um profissional talentoso, criativo, pronto para botar a mão na massa e fazer o seu
      projeto
      acontecer?

      Aqui você encontra profissionais de diversas áreas de atuação que vão te ajudar e colocar seu
      projeto em prática. </p>

    <p>Não oferecemos somente um banco de dados, mas empoderamos talentos para que você possa turbinar o seu negócio.

      Nesta comunidade os usuários compartilham experiências, trocam ideias e se atualizam com o que há de mais novo no
      mercado.</p>

    <h5>
      Confira quem são os integrantes da nossa comunidade e encontre aquela pessoa talentosa que você procura!
    </h5>
    <a routerLink="/consulta"><button class="btn btn-danger mt-4 mb-5">Confira os talentos</button></a>
  </div>

  <div class="row justify-content-center" id="imagensCorpo">
    <div class="col-4">
      <img src="../../assets/imagens/img2home.svg" style="width: 100%;">
    </div>
    <div class=" col-4 text-center py-5 px-lg-5">
      <p>Se você possui um talento capaz de turbinar o negócio de alguém, cadastre-se! Várias pessoas estão precisando
        das
        suas habilidades!</p>
      <a routerLink="/cadastro"><button class="btn btn-danger align-middle">Cadastre-se</button></a>
    </div>

    <div class="row justify-content-center mt-5" id="essaAqui">
      <!--id="container"-->
      <div class=" col-4 text-center py-2">
        <p>Aqui você encontra profissionais de todo o Brasil, prontos para atender as demandas do seu negócio!
          Economize
          tempo e encontre já o talento que seu negócio precisa! </p>
        <p> Conte com a Talent Empowerment, presente em mais de 3 mil cidades do Brasil, com mais de 4 milhões de
          serviços solicitados ao ano, e mais de 2 milhões de profissionais cadastrados.</p>
      </div>
      <div class="col-4">
        <img src="../../assets/imagens/img1home.svg" style="width:100%;">
      </div>

      <footer class="row justify-content-between align-items-start" id="faleconosco">

        <div class="col-4">
          <img src="../../assets/imagens/talentfooter.svg">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis rerum enim incidunt
            cum! Lorem ipsum dolor!</p>
        </div>

        <div class="col-4 ml-10 mt-4">
          <h6>FALE CONOSCO</h6>
          <p><i class="fab fa-whatsapp"></i> (11) 99123-4567</p>
          <p><i class="material-icons">call</i> (11) 3030-3030</p>
          <p><i class="material-icons">&#xe0be;</i> talent_empowerment@gmail.com</p>
        </div>

        <div class="col-3 mt-4">
          <h6>REDES SOCIAIS</h6>
          <p><i class="fa-brands fa-instagram m-2"></i><i class="fa-brands fa-facebook-f"></i></p>

          <p><i class="fa-brands fa-twitter m-2"></i><i class="fa-brands fa-linkedin-in"></i></p>

        </div>
      </footer>
    </div>

    <router-outlet></router-outlet>
