/*html, body {
  height: 100%;
  margin: 0;
}*/

#background {

  background-image: url("../../assets/imagens/backgroundhome.svg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 0px;
}

#imagem1 {
  width: 65vw;
  margin-left: 17%;
  margin-top: 7.5%;
}


footer {
    text-align: left;
    margin-top: 10vh;
    background-color: rosybrown;
    border: none;
}

#faleconosco {
  color: white;
}


#faleconosco_p {
  color: white;
  margin-bottom: 2px;
  font-weight: 500;
}

.material-icons{
  font-size: 15px;
}
