html, body {
    height: 100%;
}

ul {
    width: 100%;
    background-color: rosybrown;
    background-attachment: fixed;
    padding: 10px;
    align-items: center;
}

li a {
    text-decoration: none;
    margin-right: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    color: brown;
    font-weight: bold;
    font-family: monospace;
    font-size: 15px;
    margin-bottom: 0;
}

li a:hover {
    background-color: brown;
    color: white;
}

button{
  padding: 2px;
}
